$font: "Merienda";
$main-color: rgba(233, 176, 228, 1);
$main-background: rgba(249, 254, 225, 1);
$menu-text: rgba(249, 188, 204, 1);
$menu-dark-text: rgba(232, 111, 143, 1);
$menu-background: rgba(240, 252, 191, 1);